
#group-header{
    background-size: 100%;
    color: white;
    height: 300px;
    margin: 25px 50px 25px 50px;
}

.banner-crises{
    background-image: url("/static/img/banner_crises.jpg");
}
.banner-organizations{
    background-image: url("/static/img/banner_organizations.jpg");
}
.banner-people{
    background-image: url("/static/img/banner_people.jpg");
}

#group-text{
    float: left;
    margin: 10px 0 0 75px;
}

#group-image{
    float: right;
    height: 150px;
    margin-right: 75px;
    width: 150px;
}

#group-listing{
    font-size: 18px;
    margin: auto;
    min-height: 100px;
    text-align: center;
    width: 70%
}

    #group-description{
        margin: 10px 0 30px 0;
    }

    #group-listing ul{
        list-style: none;
        margin: auto;
    }

    #group-listing ul li{
        line-height: 30px;
    }

    .group{
        float: left;
        margin: auto;
        width: 25%;
    }