body{
    background-image: url('../img/gray_jean.png');
}

.container{
    box-shadow: 0 4px 22px 1px;
    background-color: white;
}

.masthead{
    background-color: #222;
}

.nav{
    margin-bottom: 0;
}

/*.nav-tabs{*/
    /*border-bottom: 1px solid #222;*/
/*}*/

li a:hover{
    color: white;
}

#content-box{
    background: white;
    /*border: 1px solid #222;*/
    border-top: none;
    width: 1170px;
}

#header-image{
    float: left;
    margin-right: 10px;
    width: 85px;
}

#searchbar{
    margin: 0;
}

#welcome{
    margin: 0 50px 25px 50px;
}

#subtypes{
    border-top: 1px solid #222;
    height: 460px;
}

.subtype{
    float: left;
    height: 375px;
    margin: 40px 0 40px 0;
    text-align: center;
    width: 33%;
}
    .subtype-image{
        width: 210px;
        height: 215px;
    }

    .subtype-text{
        margin: 10px 10px 0 10px;
    }

    #organizations{
        border-left: 1px solid #222;
    }

    #people{
        border-left: 1px solid #222;
    }