body{
    background-image: url('../img/debut_dark.png');
}

.container{
    width: 100%;
}

#header-image{
    float: left;
    margin-right: 10px;
    width: 85px;
}

#searchbar{
    margin: 0;
}

#crises{
}

#organizations{
}

#people{
}