{% extends "index.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
	<h1>ABOUT</h1>
	<h2>The Project</h2>
	<p>
		The World Crises Database is a project for CS 373: Software Engineering from the University of Texas at Austin. The class is overseen by Professor Glenn Downing. 
		The final end product of the Database incorporates various technologies including CSS, XML, HTML, Google App Engine, and Python.
		In order to properly meet requirements and deadlines, teamwork is essential.
		</br></br>
		The objective of the World Crises Database is to provide a centralized location on the interwebs that gives users easy, simple access to any and all information for past, present, and future crises.
	</p>
    <p>
        <small>Created by Team Unicorn Steroids : Ryan Prater, Michael Tarng, Bryan Vuong, Boris Jonica, Dereck Sanchez, Cassie Schwendiman</small>
    </p>
</div>
{% endblock content %}