{% extends "index.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
        <div id="group-header" class="{% block banner %}{% endblock banner %}">
            <div id="group-text">
                <h1>{{ title }}</h1>
            </div>
            <!--<div id="group-image">-->
                <!--{% block group_image %}{% endblock group_image %}-->
            <!--</div>-->
        </div>
        <div id="group-listing">
            <div id="group-description">
                {% block group_description %}{% endblock group_description %}
            </div>
            <table cellpadding="10">
                {% for group_list in group_data %}
                    <tr>
                        {% for object in group_list %}
                            <td class="group-object">
                                <a href="{{ object.1 }}">{{ object.0 }}</a>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
{% endblock content %}