<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }} -{% endblock %} World Crises Database - Team Unicorn Steroids</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="World Crises Database">
    <meta name="author" content="Unicorn Steroids">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/group.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="masthead">
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-active"><a href="/">Home</a></li>
                    <li class="nav-active"><a href="/c">Crises</a></li>
                    <li class="nav-active"><a href="/o">Organizations</a></li>
                    <li class="nav-active"><a href="/p">People</a></li>
                    <li class="nav-active"><a href="/import">Import</a></li>
                    <li><a target="_blank" href="/export">Export</a></li>
                    <li><a target="_blank" href="/test">Tests</a></li>
                    <li>
                        <form id="searchbar" action="/search" method="post">
                          <input type="text" name="search_query" rows="1" cols="60"></input>
                          <input type="submit" value="Search"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div id="content-box">
            {% block content %}
                <div id="welcome">
                    <img id="header-image" src="/static/img/angry_unicorn.png">
                    <h1 id="header-text">World Crises Database</h1>
                    <h5>Presented by: Team UNICORN STEROIDS</h5>
                    A resource for information on crises worldwide, as well as similar data for associated organizations and humanitarians.

                </div>
                <div id="subtypes">
                    <a href="/c">
                        <div id="crises" class="subtype">
                            <h2>Crises</h2>
                            <img class="subtype-image" src="../static/img/stock_crisis.jpg">
                            <div class="subtype-text">
                                With the growth in population and rise of technology, new situations and conflicts present themselves everyday. In addition, natural disasters still persist and we often have no defense. Here you will find up-to-date information on international crises.
                            </div>
                        </div>
                    </a>
                    <a href="/o">
                        <div id="organizations" class="subtype">
                            <h2>Organizations</h2>
                            <img class="subtype-image" src="../static/img/stock_organization.jpg">
                            <div class="subtype-text">
                                Everyone wants to save the world, but sometimes we can't do it alone. These organizations provide a connection between resources and aid, allowing help to arrive efficiently and fast. Here you will find details on associated organizations.
                            </div>
                        </div>
                    </a>
                    <a href="/p">
                        <div id="people" class="subtype">
                            <h2>People</h2>
                            <img class="subtype-image" src="../static/img/stock_humanitarian.jpg">
                            <div class="subtype-text">
                                Some people truly stand out, and when those people focus their efforts on helping the world, they can acheive great things. Here you will find descriptions of people related to world crises and what impact they've had.
                            </div>
                        </div>
                    </a>
                </div>
            {% endblock content %}
            <!--<p>-->
                <!--<small>-->
                    <!--Created by Team Unicorn Steroids : Ryan Prater, Michael Tarng, Bryan Vuong, Boris Jonica, Dereck Sanchez, Cassie Schwendiman-->
                <!--</small>-->
            <!--</p>-->
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="static/js/bootstrap.js"></script>
</body>
</html>