{% extends "index.html" %}

{% block title %}{{ object.us_name }} - {% block type %}{% endblock %} -{% endblock %}

{% block content %}
    <h2>{{object.us_name}}</h2>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{object.key.id}}</td>
            </tr>
            {% for item in results.items %}
                {% if item.1 %}
                <tr>
                    <td>{{item.0}}</td>
                    <td>
                        {% autoescape off %}
                        {{item.1}}
                        {% endautoescape %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}