{% extends "index.phtml" %}

{% block title %}{{ title }} -{% endblock %}

{% block content %}
    <h2>Search Results for "{{ search_terms }}"</h2>
    {% if search_results %}
        {% for result in search_results %}
            <a href="{{ result.1 }}">{{ result.0 }}</a>
            <br />
            {% autoescape off %}
                <ul>
                {% for description in result.2 %}
                    <li>{{ description }}</li>
                {% endfor %}
                </ul>
            {% endautoescape %}
            <br />
        {% endfor %}
    {% else %}
        No results found
    {% endif %}

{% endblock content %}